/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Styling  - General Styles / Font Loaders / Constants||*/

html, body {
  height: 100%;
  width: 100%;
}

:root {
  --light-primary-background: #DEE4E7;
  --light-primary-text: #545b5a;
  --light-primary-text-hover: #424242;
  --light-secondary-background: hsl(200, 14%, 78%);
  --light-banner-gray: #696969;
}

@font-face {
  font-family: "HeaderTitleFont";
  src: url("../assets/fonts/Aladin-Regular.ttf");
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 1068px);

  background-color: var(--light-primary-background);
}

/* || Nav Bar Styling */
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--light-primary-background);
  width: min(100%, 1068px);
  margin-bottom: 50px;
}

.nav-bar-free-shipping {
  width: 100vw;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;

  background-color: var(--light-banner-gray);
  color: white;

  padding: 15px 0px 15px 0px;
  margin-bottom: 15px;
}

.nav-bar-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav-bar-title {
  font-size: 64px;
  font-family: "HeaderTitleFont";
  color: var(--light-primary-text);
}

.nav-bar-upper input {
  height: 30px;
  width: 300px;
}

.nav-bar-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 25px;
}

.nav-bar-link {
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;

  color: var(--light-primary-text);
  padding: 10px;
  border-radius: 5px;
}

.nav-bar-link:hover {
  color: var(--light-primary-text-hover);
  background-color: var(--light-secondary-background);
}

/* Shop Page Styling || */

.shop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.shop-hero {
  text-align: left;
  width: 100%;
  margin-bottom: 25px;
  border-bottom: 5px solid var(--light-banner-gray);
}

.shop-header {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 10px;
}



.shop-wrapper-lower {
  display: flex;
}

.shop-sidebar {
  width: 15%;
}

.product-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 85%;
}

.product-card,
.product-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card {
  border: 3px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.product-card-image {
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
}

